Pillow>=10.0.0
imagehash>=4.3.1
numpy>=1.24.0
scipy>=1.11.0
tqdm>=4.65.0
colorama>=0.4.6
pillow-heif>=0.13.0
dropbox>=11.36.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.0
requests>=2.31.0
